@page "/about"
@model BA.BoiseAutoFabrics.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="container-fluid home-wrapper">
    <div class="container wrapper-width">
        <div class="row">
            <div class="col-md-12 col-lg-7">
                <div class="img-fluid img-box wrapper-grid home-wrapper-about">
                    <img src="/images/about-image.jpg" width="100%" alt="About Boise Auto Fabrics">
                </div>
            </div>
            <div class="col-md-12 col-lg-5 d-flex align-items-center">
                <div class="wrapper-content about-content">
                    <p>Boise Auto Fabrics, a subsidiary of <a href="https://boisecarupholstery.com" target="_blank">Boise Car Upholstery</a>, is the place where auto upholstery shops find unique and 
                    rare fabrics that are no longer being manufacturered and are largely out of stock.</p>
                    <p>Boise Car Upholstery has special items dating back 60 years and each item is carefully catelogued and stored so it is easy to find and available for purchase.</p>
                    <p>Take a minute to check with us, before you over pay somewhere else!</p>
                </div>
            </div>
        </div>
    </div>
</div>